body {
  background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);

  background-repeat: no-repeat;
}
h1,
h2,
h3 {
  font-family: "Poppins", serif;
  font-weight: normal;
  font-style: normal;
  color: aliceblue;
}
