body {
  font-family: var(---default-font-family);
}
:root {
  ---primary-color: rgb(213, 230, 230);
  ---secondary-color: rgb(47, 104, 104);
  ---third-color: rgb(255, 255, 255);
  ---fourth-color: rgb(84, 127, 127);
  ---darker-color: rgb(22, 41, 39);
  ---default-font-family: "Poppins", serif;
}
.hero {
  text-align: center;
  background: var(---primary-color);
  padding: 150px 20px;
  margin: 0 auto;
  display: block;
}

h1,
h2,
h3,
h5,
h6 {
  font-family: var(---default-font-family);
  font-weight: normal;
  font-style: normal;
  color: var(---primary-color);
  line-height: 1.5;
}
h2,
h3 {
  color: var(---third-color);
}
h1 {
  font-size: 70px;
  color: var(---secondary-color);
  margin-top: 0;
  font-weight: 700;
}
h2 {
  font-size: 25px;
  margin: 0;
}
h3 {
  font-size: 20px;
}
h4 {
  font-size: 35px;
  font-weight: 500;
  font-family: var(---default-font-family);
  font-weight: normal;
  font-style: normal;
  color: var(---darker-color);
  line-height: 1.5;
}

.primary-button {
  background: #fff;
  color: var(---secondary-color);
  padding: 15px 20px;
  margin-top: 20px;
  border: 1px solid var(---primary-color);
  padding: 15px 20px;
  box-shadow: 1px 1px 12px rgba(248, 250, 249, 0.314);
}
.primary-button:hover {
  background: var(---fourth-color);
  color: var(---primary-color);
  border: 1px solid var(---secondary-color);
}

span {
  font-size: 25px;
  color: #000;
  text-align: center;
  justify-content: center;
}
.project-text {
  line-height: 2;
}
.project-apps {
  padding: 60px 60px;
}
.project-buttons {
  background: #fff;
  color: var(---secondary-color);
  border: 1px solid var(---primary-color);
  padding: 15px 20px;
}
.project-buttons:hover {
  background: var(---fourth-color);
  color: var(---primary-color);
}
.icon-links {
  color: var(---secondary-color);
  font-size: 25px;
  border: 1px solid rgb(252, 249, 249);
  border-radius: 20px 340px 180px;
  padding: 12px;
  margin: 3px;
  justify-content: space-between;
}
.socials-icon {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 150px 20px;
  background: var(---primary-color);
}

.website-wrapper span {
  color: var(---darker-color);
  font-size: 12px;
  display: block;
  margin: 0 auto;
}

.github-link,
.netlify-link {
  color: var(---fourth-color);
}
.about-section {
  padding: 100px 20px;
  text-align: center;
}
.about-section h1 {
  font-size: 40px;
  line-height: 1.5;
}
.about-section h2 {
  font-size: 15px;
}
.about-section p {
  line-height: 2;
}
.about-section img {
  width: 70%;
  margin-top: 30px;
}

.about-section-content {
  margin-top: 80px;
}

@media (max-width: 600px) {
  .body {
    max-width: 150%;
    margin-left: 0 auto;
  }
  .hero {
    padding: 80px 30px;
  }

  .about-section-content {
    margin-top: 0;
    padding: 0;
  }
  .about-section img {
    margin-top: 40px;
  }
  .about-section h1 {
    font-size: 40px;
  }
  h1,
  h4 {
    font-size: 40px;
    margin-top: 0;
    line-height: 2;
  }
  .project-buttons {
    margin-bottom: 0px;
  }
  h2,
  h3 {
    font-size: 20px;
  }
  .container-fluid,
  .project-apps {
    text-align: center;
    display: block;
    margin: 0 auto;
    line-height: 1.2;
    margin-bottom: 0 auto;
    padding: 20px 2px;
  }

  h4 {
    margin-top: 0;
    font-size: 25px;
  }
  .featured-projects {
    font-size: 20px;
  }
}
