body {
  background: linear-gradient(
    90deg,
    rgba(45, 57, 46, 0.89) 0%,
    rgba(97, 132, 126, 0.416) 100%
  );
  font-family: var(---default-font-family);
}
:root {
  ---primary-color: rgb(153, 218, 218);
  ---background-color: rgb(255, 255, 255);
  ---default-font-family: "Poppins", serif;
}
.container-fluid {
  display: block;
  margin: 0 auto;
  background: var(---background-color);
  width: 800px;
  margin-top: 30px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(---default-font-family);
  font-weight: normal;
  font-style: normal;
  color: var(---primary-color);
  line-height: 1.7;
}

h1 {
  font-size: 70px;
}
h2 {
  margin-top: 90px;
  font-size: 25px;
}
h3 {
  font-size: 20px;
}
img {
  max-width: 320px;
  padding-top: 50px;
  display: block;
  margin: 0 auto;
}
.primary-button {
  margin-top: 15px;
  background: var(---primary-color);
  color: #fff;
  padding: 15px 25px;
}
.primary-button:hover {
  border: 1px solid var(---primary-color);
  color: var(---primary-color);
}

a {
  color: var(---primary-color);
  border: 1px solid rgb(252, 249, 249);

  border-radius: 200px 100px 150px;
  padding: 5px;
}

@media (max-width: 576px) {
  body {
    width: 2px;
  }
  .container-fluid {
    max-width: 400px;
  }
}
